<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Employee save</title>
</head>
<body>
<h1>Employee Save Page</h1>
<p th:text="'ID : '+${data.id}"/>
<p th:text="'First name : '+${data.first_name}"/>
<p th:text="'Last name : '+${data.last_name}"/>
<p th:text="'Address : '+${data.address}"/>
<p th:text="'Email : '+${data.email}"/>
<p th:text="'Place of birth : '+${data.place_of_birth}"/>
<p th:date="'Date of birth : '+${data.date_of_birth}"/>

</body>
</html>