<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<link rel="stylesheet" href="../../fontawesome-free-5.8.1-web/css/all.min.css" >
	</head>
	<body>
		<form th:action="@{lainlain/deleteref}" method="post">
			<input type="text" name="id" th:value="${dataRef.id}" style="display: none">
			
			<div class="modal-header"  style="background-color:#8a0303">
				<h4 class="modal-title" style="color:white">Hapus Referensi?</h4>
			</div>
			<div class="modal-body">
				<table align="center">
					<tbody>
						<td><i class="fas fa-trash fa-3x"></i></td>
						<td><pre>&nbsp</pre></td>
						<td align="center">
							<h5></i>Anda yakin ingin menghapus referensi<br>
								<strong><span th:text="${dataRef.name}" style="color:red"></span></strong><span> ?</span>
							</h4>
						</td>
					</tbody>
				</table>
				
				
				<input type="hidden" name="id" th:value="${dataRef.id}">
				
				<br>
				<div class="btn-group float-right">
					<a href="/lainlain"><button type="button" class="btn btn-warning col"><font style="color:white">Tidak</font></button></a>
					<button type="submit" class="btn btn-danger col"><font style="color:white">Ya</font></button>
				</div>
				<br><br>
			</div>
		</form>
	</body>
</html>