<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Referensi Index</title>
	
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../bootstrap-4.3.1-dist/css/bootstrap.min.css">
    
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="../../fontawesome-free-5.8.1-web/css/all.min.css" >
    
</head>
<body>
	<div class="container">
		<h3>Referensi <a href="#" id="btn-add"><i class="fas fa-plus-circle"></i></a></h3>
		<p>(Dosen Pembimbing/Atasan sebelumnya yang dapat dimintai keterangan diri)</p>	
		
		<div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th>NAMA</th>
						<th>ALAMAT</th>
						<th>JABATAN</th>
						<th>HUBUNGAN</th>
						<th>#</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="emp: ${listDataRef}">
						<td th:text="${emp.name}"></td>
						<td th:text="${emp.addressPhone}"></td>
						<td th:text="${emp.position}"></td> 
						<td th:text="${emp.relation}"></td>
						<td>
							<div class="dropout">
								<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">More
									<span class="caret"></span>
								</button>
								<div class="dropdown-menu">
									<a class="dropdown-item btn-edit" th:href="@{/lainlain/editref/{id}(id=${emp.id})}">Ubah</a>
									<a class="dropdown-item btn-delete" th:href="@{/lainlain/deleteref/{id}(id=${emp.id})}">Hapus</a>
								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<br>
		
		<h3>Keterangan Tambahan 
			<a href="#" id="viewketam"> <i class="fas fa-search"></i></a> 
			<a href="#" id="editketam"> <i class="fas fa-edit"></i></a>
		</h3>
		<div>
			<table class="table"> <!-- th:each="ars:${listDataTam}"> -->
				<tr>
					<th>Gaji Yang Diharapkan</th>
					<td>:</td>
					<td>Cek</td>
					<!-- <td th:text="${ars.expectedSalary}"></td> -->
				</tr>
				<tr>
					<th>Negotiable</th>
					<td>:</td>
					<td>Cek</td>
					<!-- <td th:text="${ars.isNegotiable}"></td> -->
				</tr>
				<tr>
					<th>Kapan Siap Mulai Bekerja</th>
					<td>:</td>
					<td>Cek</td>
					<!-- <td th:text="${ars.startWorking}"></td> -->
				</tr>
				<tr>
					<th>Bersedia Ditempatkan Di Luar Kota</th>
					<td>:</td>
					<td>Cek</td>
					<!-- <td th:text="${ars.isReadyToOutoftown}"></td> -->
				</tr>
				<tr>
					<th>Kontak Darurat (Keluarga Tidak Serumah)</th>
					<td>:</td>
					<td>Cek</td>
					<!-- <td th:text="${ars.emergencyContactName}"></td> -->
				</tr>
				<tr>
					<th>Nomor Telp. Darurat</th>
					<td>:</td>
					<td>Cek</td>
					<!-- <td th:text="${ars.emergencyContactPhone}"></td> -->
				</tr>
			</table>
		</div>
		
		<div id="modal-form" class="modal fade" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					
				</div>
			</div>
		</div>
		<div id="modal-form-lg" class="modal fade" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content">
					
				</div>
			</div>
		</div>
		<div id="modal-form-xl" class="modal fade" role="dialog">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">
					
				</div>
			</div>
		</div>
	</div>
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then other JS -->
    <script type="text/javascript" src="../../js/jquery-3.4.0.min.js"></script>
    <script type="text/javascript" src="../../js/popper.min.js"></script>
    <script type="text/javascript" src="../../bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../fontawesome-free-5.8.1-web/js/fontawesome.min.js"></script>
    
    <script type="text/javascript">
    	$("#btn-add").click(function(){
    		$.ajax({
    			url:'/lainlain/addref',
    			type:'get',
    			datType:'html',
    			success:function(hasil){
    				$("#modal-form-lg").find(".modal-content").html(hasil);
    				$("#modal-form-lg").modal("show");
    			}
    		});
    	});
    	
    	$(".btn-edit").click(function(){
    		var a = $(this).attr("href");
    		$.ajax({
    			url:a,
    			type:'get',
    			datType:'html',
    			success:function(hasil){
    				$("#modal-form-lg").find(".modal-content").html(hasil);
    				$("#modal-form-lg").modal("show");
    			}
    		});
    		return false;
    	});
    	
    	$(".btn-delete").click(function(){
    		var b = $(this).attr("href");
    		$.ajax({
    			url:b,
    			type:'get',
    			datType:'html',
    			success:function(hasil){
    				$("#modal-form").find(".modal-content").html(hasil);
    				$("#modal-form").modal("show");
    			}
    		});
    		return false;
    	});
    	
    	$("#viewketam").click(function(){
    		$.ajax({
    			url: '/lainlain/viewketam',
    			type:'get',
    			datType:'html',
    			success:function(hasil){
    				$("#modal-form-lg").find(".modal-content").html(hasil);
    				$("#modal-form-lg").modal("show");
    			}
    		});
    		return false;
    	});
    	
    	$("#editketam").click(function(){
    		$.ajax({
    			url: '/lainlain/editketam',
    			type:'get',
    			datType:'html',
    			success:function(hasil){
    				$("#modal-form-xl").find(".modal-content").html(hasil);
    				$("#modal-form-xl").modal("show");
    			}
    		});
    		return false;
    	});
    </script>
    
</body>
</html>