<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="ISO-8859-1">
		<title>Biodata save</title>
	</head>
	<body>
		<h1>Biodata Save Page</h1>
		<p th:text="'ID : '+${data.id}"/>
		<p th:text="'Nama : '+${data.nama}"/>
		<p th:text="'Alamat : '+${data.alamat}"/>
		<p th:text="'JK : '+${data.jk}"/>
		<p th:text="'Telp : '+${data.telp}"/>
	</body>
</html>