<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Universitas Save</title>
</head>
<body>
<h1>Save Page Universitas</h1>
<p th:text="'Jurusan     : '+${data.jur}"/>
<p th:text="'Angkatan    : '+${data.ang}"/>
<p th:text="'Fakultas    : '+${data.fak}"/>
<p th:text="'Universitas : '+${data.univ}"/>
</body>
</html>