<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Laptop Save</title>
</head>
<body>
<h1>Save Page Laptop</h1>
<p th:text="'Merk     : '+${data.merk}">
<p th:text="'Tipe     : '+${data.tipe}">
<p th:text="'RAM      : '+${data.ram}">
<p th:text="'ROM      : '+${data.rom}">
<p th:text="'Prosesor : '+${data.pros}">
</body>
</html>