<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title,links)">
<meta charset="ISO-8859-1">
<title>index</title>
<link rel="stylesheet" th:href="@{/css/mystyle.css}">
</head>
<body>
<p>Ini paragraf 1</p>
</body>
</html>