<html>
<body>
<form action="/sertifikasi/save" method="post">
	<div class="modal-header"  style="background-color:blue">
		<h4 class="modal-title" style="color:white">Tambah Sertifikasi</h4>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color: white">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="form-group row">
			<div class="col">
				<label class="col col-form-label">Nama Sertifikasi *</label>
				<div class="col">
					<input type="text" name="certificateName" class="form-control" required>
				</div>
			</div>
			<div class="col">
				<label class="col col-form-label">Penerbit *</label>
				<div class="col">
					<input type="text" name="publisher" class="form-control" required>
				</div>
			</div>
			
		</div>
		<div class="form-group row">
			<div class="col">
				<label class="col col-form-label">Berlaku Mulai</label>
				<div class="col form-group row">
					<div class="col">
						<select name="validStartMonth" id="validStartMonth" class="form-control">
							<option value="">- Pilih Bulan -</option>
						    <option th:each="i:${#numbers.sequence(1,12)}" th:value="${i}" th:text="${i}" />
						</select>	
					</div>
					<div class="col">
						<select id="validStartYear" name="validStartYear" class="form-control"></select>
					</div>
					
				</div>
			</div>
			<div class="col">
				<label class="col col-form-label">Berlaku Sampai</label>
				<div class="col form-group row">
					<div class="col">
						<select name="untilMonth" id="untilMonth" class="form-control" disabled>
							<option value="">- Pilih Bulan -</option>
						    <option th:each="i:${#numbers.sequence(1,12)}" th:value="${i}" th:text="${i}" />
						</select>
					</div>
					<div class="col">
						<select id="untilYear" name="untilYear" class="form-control" disabled></select>
					</div>
				</div>
			</div>
		</div>
		
		<label class="col col-form-label">Catatan</label>
		<div class="col">
			<textarea name="notes" style="resize:unset" class="form-control"></textarea>
		</div>
		<br><br>
		<div class="btn-group float-right">
			<a href="/sertifikasi"><button type="button" class="btn btn-warning col"><font style="color:white">Batal</font></button></a>
			<button type="submit" class="btn btn-primary col"><font style="color:white">Simpan</font></button>
		</div>
		<br><br>
	</div>
</form>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script type="text/javascript">
	$("#validStartMonth, #validStartYear").change(function() {
	    if ($("#validStartMonth, #validStartYear").val() != "" || null) {
	        $("#untilMonth, #untilYear").prop("disabled", false);
	    }
	    else
	        $("#untilMonth, #untilYear").prop("disabled", true);
	});

	//Select tahun down
	var max1 = new Date().getFullYear();
	min1 = max1-20,
	select1 = document.getElementById('validStartYear');
	
	var opt1 = document.createElement('option');
	opt1.value = "";
	opt1.innerHTML = "- Pilih Tahun -";
	select1.appendChild(opt1);
	for (var i = max1; i>=min1; i--){
		var opt1 = document.createElement('option');
		opt1.value = i;
		opt1.innerHTML = i;
		select1.appendChild(opt1);
	}
	//select1.value = new Date().getFullYear();
	
	
	//Select tahun up
	var min2 = new Date().getFullYear();
	max2 = min2+20,
	select2 = document.getElementById('untilYear');
	
	var opt2 = document.createElement('option');
	opt2.value = "";
	opt2.innerHTML = "- Pilih Tahun -";
	select2.appendChild(opt2);
	for (var j = min2; j<=max2; j++){
		var opt2 = document.createElement('option');
		opt2.value = j;
		opt2.innerHTML = j;
		select2.appendChild(opt2);
	}
	//select2.value = new Date().getFullYear();
	
</script>

</body>
</html>