<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Alamat save</title>
</head>
<body>
<h1>Alamat Save Page</h1>
<p th:text="'Jalan : '+${data.jl}"/>
<p th:text="'Kelurahan : '+${data.kel}"/>
<p th:text="'Kecamatan : '+${data.kec}"/>
<p th:text="'Kabupaten/kota : '+${data.kabkot}"/>
<p th:text="'Provinsi : '+${data.prov}"/>
</body>
</html>