<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="bootstrap-4.3.1-dist/css/bootstrap.min.css">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="fontawesome-free-5.8.1-web/css/all.min.css">

    <title>XSIS 2.0</title>
</head>
<body>

    <div class="modal-header" style="background:darkblue;border-radius:0px">
	    <div>
	    	<h4 class="col" style="color:white">Detail Pelamar</h4>
	    	<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white">
				<span aria-hidden="true">&times;</span>
	       	</button>
	    </div>
    </div>
    
    <div class="modal-body">
       	<div class="row">
			<div class="col-3">
				<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
					<a class="nav-link" href="#">
						Profil
					</a>
					<a class="nav-link active goToBiodata" th:href="@{/pelamar/biodata/{id}(id=${data.id})}">
						Biodata
					</a>
					<a class="nav-link" href="#">
						Pengalaman Kerja
					</a>
					<a class="nav-link" href="#">
						Pendidikan
					</a>
					<a class="nav-link" href="#">
						Pelatihan
					</a>
					<a class="nav-link" href="#">
						Sertifikasi
					</a>
					<a class="nav-link" href="#">
						Sumber Lowongan Kerja
					</a>
					<a class="nav-link" href="#">
						Organisasi
					</a>
					<a class="nav-link" href="#">
						Keluarga
					</a>
					<a class="nav-link" href="#">
						Keahlian
					</a>
					<a class="nav-link" href="#">
						Lain-lain
					</a>
					<a class="nav-link" href="#">
						Dokumen
					</a>
					<a class="nav-link" href="#">
						Catatan
					</a>
					<a class="nav-link" href="#">
						Aktivasi Akun
					</a>
					<a class="nav-link" href="#">
						Lihat Tes
					</a>
					<a class="nav-link" href="#">
						Hasil Tes
					</a>
			    </div>
            </div>
            <div class="col-9">
            	<div id="detailList">
            		<div class="detailContent">
            		
            		</div>
            	</div>
            </div>
		</div>
	<br>
	</div>




    <!-- JS Files -->
    <script src="js/jquery-3.4.0.min.js"></script>
    <script src="js/jquery.serializejson.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
    <script src="fontawesome-free-5.8.1-web/js/all.min.js"></script>
    
    <script type="text/javascript">
    
    $(".goToBiodata").click(function() {
    	var a = $(this).attr("href");
   		$.ajax({
   			url:a,
   			type:'get',
   			dataType:'html',
   			success:function(hasil){
   				$("#detailList").find(".detailContent").html(hasil);
   			}
   		});
   		return false;
   	});
    
    </script>
    
    
</body>
</html>